<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <%- include('./partials/admin.ejs') %>

  <h1>User list</h1>

  <table>
    <thead>
      <tr>
        <th>username</th>
        <th>email</th>
        <th>fullname</th>
        <th>Status</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <% user.forEach(el => { %>
       <tr>
        <td>nanti create dulu</td>
        <td><%= el.email %></td>
        <td><%= el.fullName %></td>
        <td><%= el.showStatus() %></td>
        <td><a href="/admin/suspend/<%= el.id %>"><button>Suspend</button></td></a> 
       </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>