<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medium-style Article</title>
    <style>
        /* General styles */
        @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

        .lorafonts {
            font-family: "Lora", serif;
            font-optical-sizing: auto;
            font-style: normal;
        }

        body {
            font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
            /* background-color: #f3f4f6; */
            margin: 0;
        }

        .container {
            max-width: 100vh;
            margin: 0 auto;
        }

        /* Header styles */
        .header {
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 16px 0;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
        }

        .header-actions {
            display: flex;
            align-items: center;
        }

        .search-input {
            border: 1px solid #ccc;
            padding: 8px;
            border-radius: 4px;
            font-size: 14px;
            margin-right: 16px;
        }

        .write-button {
            background-color: #000;
            color: #fff;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 16px;
        }

        .user-avatar {
            width: 32px;
            height: 32px;
            background-color: #ccc;
            border-radius: 50%;
        }

        /* Main content styles */
        .main-container {
            display: flex;
            margin-top: 16px;
            padding: 0 16px;
            /* margin-left: 9vh;
    margin-right: 9vh; */
        }

        .content {
            flex: 1;
            background-color: #fff;
            padding: 32px;
            border-radius: 8px;
            /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
        }

        /* Article styles */
        .article {
            margin-bottom: 16px;
        }

        .article-title {
            font-size: 42px;
            font-style: normal;
            font-weight: 800;
            margin-bottom: 16px;
            letter-spacing: -0.020em;
            color: #242424;
        }

        .article-intro {
            font-size: 24px;
            color: #555;
            margin-bottom: 16px;
        }

        .author-info {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
        }

        .author-avatar {
            width: 40px;
            height: 40px;
            /* background-color: #ccc; */
            border-radius: 50%;
            margin-right: 16px;
        }

        .author-name {
            font-size: 14px;
            font-weight: bold;
        }

        .publication-info {
            font-size: 12px;
            color: #777;
        }

        .article-actions {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            color: #555;
            padding: 20px;
            border-top: solid 1px rgb(242, 242, 242);
            border-bottom: solid 1px rgb(242, 242, 242);
        }

        .action {
            display: flex;
            align-items: center;
            margin-right: 16px;
        }

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }

        .article-paragraph {
            font-size: 20px;
            color: #333;
            line-height: 1.6;
            margin-bottom: 16px;
        }

        /* Category slider styles */
        .category-slider {
            display: flex;
            overflow-x: auto;
            margin-bottom: 16px;
            padding-bottom: 8px;
        }

        .category-slider::-webkit-scrollbar {
            display: none;
        }

        .category-item {
            flex: 0 0 auto;
            background-color: #e5e7eb;
            border-radius: 16px;
            padding: 8px 16px;
            margin-right: 8px;
            cursor: pointer;
            font-size: 14px;
            color: #555;
            white-space: nowrap;
        }

        .category-item:hover {
            background-color: #d1d5db;
        }


        /* Author Section Styles */
        .author-section {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 40px;
        }

        .author-profile {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .follow-button {
            background-color: #1a8917;
            color: #fff;
            padding: 6px 12px;
            border: none;
            border-radius: 20px;
        }

        .articles-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .article-card {
            width: 40%;
            background-color: #f9f9f9;
            border-radius: 8px;
            padding: 16px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .article-card-image {
            width: 100%;
            height: 150px;
            background-color: #ccc;
            border-radius: 8px;
            margin-bottom: 10px;
        }

        .article-card h4 {
            font-size: 18px;
            margin-bottom: 8px;
        }

        .article-card p {
            font-size: 14px;
            color: #555;
        }

        .article-card-info {
            font-size: 12px;
            color: #777;
        }

        /* See All Links Styles */
        .see-all-links {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .see-all-links a {
            color: #1a8917;
            text-decoration: none;
        }

        /* Recommended Section Styles */
        .recommended-section {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
        }

        .recommended-section h3 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        /* Sidebar Styles */
        .sidebar section {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .sidebar h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
        }

        .sidebar li {
            font-size: 14px;
            color: #555;
            margin-bottom: 8px;
        }

        .topics {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .topic {
            background-color: #e5e7eb;
            padding: 6px 12px;
            border-radius: 16px;
            font-size: 14px;
            color: #555;
        }

        .follow-suggestions {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .suggestion {
            display: flex;
            align-items: center;
        }

        .suggestion-avatar {
            width: 36px;
            height: 36px;
            background-color: #ccc;
            border-radius: 50%;
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <header class="header">
        <div class="container header-container">
            <a href="/home">
                <div class="logo">Medium</div>
            </a>
            <div class="header-actions">
                <input type="text" placeholder="Search" class="search-input">
                <button class="write-button">Write</button>
                <div class="user-avatar"></div>
            </div>
        </div>
    </header>
    <div class="container main-container">
        <!-- Main Content -->
        <main class="content">
            <!-- Article -->
            <article class="article">
                <h1 class="article-title"><%= post.title %></h1>
                <!-- <p class="article-intro"></p> -->
                <div class="author-info">
                    <!-- <div class="author-avatar"></div> -->
                    <img src="<%= post.Profile.profilePict %>" class="author-avatar" srcset="">
                    <div>
                        <p class="author-name"><%= post.Profile.fullName %></p>
                        <p class="publication-info">Published in Towards Data Science · 8 min read · <%= post.createdAt %></p>
                    </div>
                </div>
                <div class="article-actions">
                    <div class="action">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z">
                            </path>
                        </svg>
                        <span>121</span>
                    </div>
                    <div class="action">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M12 7.09c-2.1 0-3.8 1.7-3.8 3.8 0 2.1 1.7 3.8 3.8 3.8 2.1 0 3.8-1.7 3.8-3.8 0-2.1-1.7-3.8-3.8-3.8zm0 5.97c-1.2 0-2.17-.97-2.17-2.17s.97-2.17 2.17-2.17 2.17.97 2.17 2.17-.97 2.17-2.17 2.17zm0-10.32c-5.48 0-9.93 4.45-9.93 9.93s4.45 9.93 9.93 9.93 9.93-4.45 9.93-9.93S17.48 2.74 12 2.74zm0 18.07c-4.46 0-8.13-3.67-8.13-8.13s3.67-8.13 8.13-8.13 8.13 3.67 8.13 8.13-3.67 8.13-8.13 8.13z">
                            </path>
                        </svg>
                        <span>Comments</span>
                    </div>
                    <div class="action">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M17 7h-6V5h6m2-2H9v6h10M5 21h14V9H5m0-2H3v14h14v2H5c-1.11 0-2-.89-2-2V7h2m14 0h-6v6h6V7m-8 8h6v2h-6m-8 0h6v2H7m0-4h6v2H7V9m-2 0h2v6H5V9z">
                            </path>
                        </svg>
                        <span>Share</span>
                    </div>
                </div>
                <p class="article-paragraph lorafonts"><%- post.content %></p>
            </article>
            <!-- Author Section -->
            <section class="author-section">
                <div class="author-profile">
                    <div class="author-avatar"></div>
                    <div>
                        <h3>Written by <%= post.Profile.fullName %></h3>
                        <p>Writer for Towards Data Science<br>AI/ML research @ Intel Labs; Mom; Musician
                        </p>
                        <button class="follow-button">View Profile</button>
                    </div>
                </div>
                <h3>More from <%= post.Profile.fullName %> and Towards Data Science</h3>
                <div class="articles-grid">
                    <!-- Example article cards -->
                    <div class="article-card">
                        <div class="article-card-image"></div>
                        <h4>Long-form video representation learning (Part 2: Video as sparse...)</h4>
                        <p>We explore novel video representations methods that are equipped with long-form...</p>
                        <p class="article-card-info">Subarna Tripathi in Towards Data Science · 6 min read · May 15,
                            2024</p>
                    </div>
                    <div class="article-card">
                        <div class="article-card-image"></div>
                        <h4>Python One Billion Row Challenge — From 10 Minutes to 4 Seconds</h4>
                        <p>The one billion row challenge is exploding in popularity. How well does Python stack up?</p>
                        <p class="article-card-info">Dario Radečić in Towards Data Science · 10 min read · May 4, 2024
                        </p>
                    </div>
                    <div class="article-card">
                        <div class="article-card-image"></div>
                        <h4>Kolmogorov-Arnold Networks: the latest advance in Neural Network...</h4>
                        <p>The new type of network that is making waves in the ML world.</p>
                        <p class="article-card-info">Theo Wolf in Towards Data Science · 9 min read · May 13, 2024</p>
                    </div>
                    <div class="article-card">
                        <div class="article-card-image"></div>
                        <h4>Long-form video representation learning (Part 1: Video as graphs)</h4>
                        <p>We explore novel video representation methods that are equipped with long-form...</p>
                        <p class="article-card-info">Subarna Tripathi in Towards Data Science · 10 min read · May 15,
                            2024</p>
                    </div>
                </div>
                <div class="see-all-links">
                    <a href="#">See all from Subarna Tripathi</a>
                    <a href="#">See all from Towards Data Science</a>
                </div>
            </section>

            <!-- Recommended Section -->
            <section class="recommended-section">
                <h3>Recommended from Medium</h3>
                <div class="articles-grid">
                    <!-- Example recommended articles -->
                    <div class="article-card">
                        <div class="article-card-image"></div>
                        <h4>Long-form video representation learning (Part 2: Video as sparse...)</h4>
                        <p>We explore novel video representations methods that are equipped with long-form...</p>
                        <p class="article-card-info">Subarna Tripathi in Towards Data Science · 6 min read · May 15,
                            2024</p>
                    </div>
                    <div class="article-card">
                        <div class="article-card-image"></div>
                        <h4>Python Code Formatter — Black or Ruff?</h4>
                        <p>Understand how code formatting works in Python</p>
                        <p class="article-card-info">Yannick Andrade in Python in Plain English · 4 min read · 5 days
                            ago</p>
                    </div>
                </div>
            </section>
        </main>

        <!-- Sidebar -->

    </div>
</body>

</html>