<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
    <a href="/user/<%= edit.id %>/profile/setup">Edit profile</a>
    <a href="/logout">Logout</a>
    <a href="/home">Home</a>
  <br>
  <% if (profile) { %>
    <img src="<%= profile.profilePict %>" alt="">
    <br>
    <h1><%= profile.fullName %></h1>
    <br>
    <h1><%= profile.nickName %></h1>
    <br>
    <h1><%= profile.username %></h1>
    <br>
    <h1><%= profile.birthdate %></h1>
    <br>
    <h1><%= profile.gender %></h1>
 <% } else { %>
  please fill
  <% } %>


  


  
</body>
</html>